<#ftl encoding='UTF-8'>
<#import "/spring.ftl" as spring />

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="panel-body">
    Sorry, but requested resource was not found or the query failed.
</div>
</body>
</html>