/* **********************************************
 *   Customizations for Bootstrap / MDL template / MetisMenu and
 *    the Bootstrap Drawer plugin
 */
.btn-group-sm > .btn, .btn-sm {
    line-height: 1.5;
    border-radius: 3px;
    font-size: 18px !important;
    margin-top: 84px;
    /*margin-left: -7px;*/
}

.btn-primary.focus, .btn-primary:focus {
    background-color: black;
}

.btn-primary {
    background-color: black !important;
}

.dropdown-menu.pull-right {
    right: -100%;
    top: 150%;
}

.pull-right {
    margin-top: -10px;
}

.drawer-controls {
    padding-top: 10px;
    padding-left: 5px;
}

.drawer-controls a {
    padding: 2px 15px !important;

}
