/* CUSTOM STYLES */

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 300;
    background-color: #EEEEEE !important;
}
p {
    margin: 0px 11px 10px !important;
    padding-right: 0px;
}
.navbar-brand{
    font-size: 28px !important;
}
.navbar-static-top {
    border-width: 0 0 0 !important;
}
.navbar, .navbar-default {
    background-color: #009587 !important;

}
.navbar .navbar-brand {
    color: rgba(255, 255, 255, .84) !important;
}

td, th {
    padding: 0;
}
#jsonDD{
    padding-left:100px;
}
#jsonDiagnostics{
    margin-left: 11px;
}
#jsonState {
    margin-bottom: 9px;
    margin-left: 3%;
    margin-top: -42px;
}

#jsonText{
    float:left;
    margin-bottom: 15px !important;
}
.GREEN {
    padding: 8px 0px;
    border-color: black;
    background-color: green;
    width: 15px;
    margin-bottom: -17px;
    margin-left: -19px;
}

#jsonState .GREEN {
    padding: 6px 0px 5px 70px;
    background-color: green;
    width: 5%;
    border-color: black;
    border-style: outset;
    border-width: 1px;
    margin-bottom: 0;
    margin-left: 197px;
}


.YELLOW {
    padding: 8px 0px;
    border-color: black;
    background-color: yellow;
    width: 15px;
    margin-bottom: -17px;
    margin-left: -19px;
}

#jsonState .YELLOW {
    padding: 6px 0px 5px 70px;
    background-color: yellow;
    width: 5%;
    border-color: black;
    border-style: outset;
    border-width: 1px;
    margin-bottom: 0;
    margin-left: 197px;
}

#jsonState .RED {
    padding: 6px 0px 5px 70px;
    background-color: red;
    width: 5%;
    border-color: black;
    border-style: outset;
    border-width: 1px;
    margin-bottom: 0;
    margin-left: 197px;
}

.RED {
    padding: 8px 0px;
    border-color: black;
    background-color: red;
    width: 15px;
    margin-bottom: -17px;
    margin-left: 197px;

}

#jsonState .BLUE {
    padding: 6px 0px 5px 70px;
    background-color: cyan;
    width: 5%;
    border-color: black;
    border-style: outset;
    border-width: 1px;
    margin-bottom: 0;
}

.BLUE {
    padding: 8px 0px;
    border-color: black;
    background-color: cyan;
    width: 15px;
    margin-bottom: -17px;
    margin-left: 197px;

}
.fa-fw {
    width: auto !important;
}

.panelsInsideAccess {
    width: 100%;

}

#impactTable td, th {
    padding: 0;
    padding-right: 4% !important;
    border: 1px solid #009587;
    padding-left: 0% !important;
    _padding-left: 0.5% !important; /* IE*/
}

body:not(:-moz-handler-blocked) #impactTable td, th {
    padding-left: 0.5% !important;

}

ul, ul li {
    list-style: disc;
    list-style-position: inside;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}


/*@media screen and (max-width: 700px) {
table {width:100%;}
thead {display: none;}
tr:nth-of-type(2n) {background-color: inherit;}
tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
tbody td {display: block;  text-align:center;}
tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
  }
}*/
#diagnostics li {
    list-style-type: none;
}

#personInfo td, #deviceInfo td {
    background: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */
.columns {
    -moz-column-width: 12.5em; /* Firefox */
    -webkit-column-width: 12.5em; /* webkit, Safari, Chrome */
    column-width: 12.5em;
    margin-bottom: 5px;
}
/*remove standard list and bullet formatting from ul*/
.columns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child {
    margin-top: 0px;
}

.columns ul li {
    list-style: none !important;
}

#jsonLocation {
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}

#mydiv {
    position: relative;
    overflow: hidden;
    height: 451px;
    width: 98%;
    margin-bottom: 17px;
    margin-left: 5px;
}
.half-panel-left{
    width:48%;
    float:left

}

.half-panel-right{
    width: 48%;
    float: right;
}
#unicosApp,#unicosResources {
    padding-top: 0;
    margin-top: -5px;
}
.panelsInsideAccess,.half-panel-left,.half-panel-right{
    border: solid #ddd !important;
    border-width: 0 1px !important;

}
.panelsInsideAccess > .panel-heading,
.half-panel-left>.panel-heading,
.half-panel-right>.panel-heading{
    padding: 11px !important;
    background-color: #009587 !important;
}

#tbody>tr>td>a{
    background-color: transparent;
    color: #009587;
}

.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body  {
    border-radius:2px;
    border:0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}


.panel-group .panel-heading {
    padding: 0;
}
.panel-group .panel-heading a {
    margin-top: 10px !important;
    display: block;
    background: #009587;
    color:#fff;
    padding:15px;
    text-decoration:none;
    position: relative;
}
.panel-group .panel-heading a.collapsed {
    background: #8EBBB7;
    color:inherit;
}

.panel-group .panel-heading a:after {
    content: '-';
    position: absolute;
    right: 20px;
}
.panel-group .panel-heading a.collapsed:after {
    content: '+';
}
.panel-group .panel-collapse {
    margin-top:5px!important;
}
.panel-group .panel-body  {
    background: #f7f7f7;
    padding:15px;
}
.panel-group .panel {
    background-color: transparent;
}

.panel-group .panel-body p:last-child,
.panel-group .panel-body  ul:last-child,
.panel-group .panel-body  ol:last-child {
    margin-bottom: 0;
}

#userLed{
    margin-left: 18px !important;

}
img {
    vertical-align: middle;
    float: inherit;
    margin-left: 31%;
}
#jsonReduHost{
    margin-bottom: 14px;
}
#json div,
#jsonRespUser div,
#personInfo{
    margin-bottom: 5px;
}
.reachable{
    float: right;
}
#adamsTable{
    width: 100% !important;
}
#accessConditions{
    margin-bottom: 25px;
}
